name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build & Lint Android Client
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Set up Android SDK
        uses: android-actions/setup-android@v3

      - name: Grant execution permission for Gradle
        run: chmod +x ./clients/android/gradlew

      - name: Build Android app
        working-directory: ./clients/android
        run: ./gradlew assembleDebug --stacktrace

      - name: Run Android Lint
        working-directory: ./clients/android
        run: ./gradlew lint
